<div class="row p-5">
    <div class="col-12 col-lg-8 mx-lg-auto mb-lg-4">
        <h1 class="h1">Death Eater Anthem</h1>
    </div>
    <div class="col-12 col-lg-7 mx-lg-auto">
        <p>(to be memorized by each new recruit as soon as possible). Please note that this tune should never, never, never, never be sung to the tune of “Blackadder,” an inane Muggle television program to which we are completely oblivious and never watch.
            Honestly.
        </p>
        <p class="text-center">
            <strong>
                Who lurk beneath the undergrowth?<br> When all is dim and dark?<br> Who murder people in their beds
                <br> Or sometimes in the park?<br> Death Eaters! Death Eaters!<br> Our blood is pure as pure!
                <br> Death Eaters! Death Eaters!<br> We all love Voldemort!<br> We serve the Dark Lord every day,
                <br> We’re always very loyal<br> And if with us you don’t agree<br> We’ll boil you in hot oil!
                <br> Death Eaters! Death Eaters!<br> We’re evil as can be!<br> Death Eaters! Death Eaters!
                <br> But if we’re scared we’ll flee!<br> Our curses are incredible.<br> We’re known for our
                Morsmordres<br> And though our leader is insane<br> We always follow orders.<br> Death Eaters! Death
                Eaters!<br> We’re wickedness collective!
                <br> Death Eaters! Death Eaters!<br> Yet rather ineffective!<br>
            </strong>
        </p>
    </div>
</div>