<div class="row p-5">
    <div class="col-12 col-lg-5 mx-lg-auto">
        <mdb-card>
            <mdb-card-header class="black white-text text-center py-4">
                <h1 class="h1 my-0">Sign Up</h1>
            </mdb-card-header>
            <mdb-card-body class="px-lg-5">
                <form class="text-center blue-grey-text">
                    <div class="row">
                        <div class="col-12">
                            <div class="md-form">
                                <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control" mdbInput>
                                <label for="firstName">First name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form">
                                <input type="email" [(ngModel)]="lastName" name="lastName" class="form-control" mdbInput>
                                <label for="lastName">Last name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form">
                                <input type="email" [(ngModel)]="email" name="email" class="form-control" mdbInput>
                                <label for="email">E-mail</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form">
                                <input type="password" [(ngModel)]="password" name="password" class="form-control" mdbInput>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form">
                                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" mdbInput>
                                <label for="confirmPassword">Confirm Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="md-form">
                        <button mdbBtn color="black" rounded="true" block="true" class="waves-effect z-depth-0" mdbWavesEffect type="submit">Sign Up</button>
                    </div>
                </form>
                <p>By clicking <em>Sign up</em> you agree to our <a class="blue-text" data-toggle="modal" data-target="#terms-of-service-modal" (click)="frame.show()">terms of service</a></p>
                <hr>
                <p class="text-right">Already have an account? <a [routerLink]="['/login']" routerLinkActive="router-link-active">Click here to login</a></p>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>

<div mdbModal #frame="mdbModal" class="modal fade top overflow-auto" id="terms-of-service-modal" tabindex="-1" role="dialog" aria-labelledby="termsOfServiceModal" aria-hidden="true">
    <div class="modal-dialog black modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header black">
                <h1 class="h1 white-text">The Dark Lord's Terms</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <mdb-icon fas icon="info-circle" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
                </div>
                <div>
                    <p class="lead">Welcome to this helpful guide to being a Death Eater. This leaflet should provide you with all the information you need to become a successful servant to the Dark Lord. It will if you know what’s good for you</p>
                    <p>Aims of the society:</p>
                    <ul>
                        <li>World peace *</li>
                        <li>To be evil</li>
                        <li>To conquer the world</li>
                        <li>Elimination of all Muggles</li>
                        <li>Elimination of all Mudbloods</li>
                        <li>Elimination of Albus Dumbledore & the Order of the Phoenix</li>
                        <li>Elimination of (miscellaneous)</li>
                        <li>To serve Lord Voldemort (that’s me!)</li>
                        <li>To create sanctuaries for endangered breeds of snakes</li>
                        <li>* This statement is a lie.</li>
                    </ul>
                    <h3>List of Equipment required for new Death Eaters:</h3>
                    <p>(Equipment marked * must be obtained from Messers. Gorgon & Black Limited, outfitters to the intensely evil and terminally stylish since 12 BC. Their premises are on Knockturn Alley, but they now do mail order as well.)</p>
                    <p>Long Black Robes (Casual) *</p>
                    <p>Long Black Robes (Smart) *</p>
                    <p>Short Black Robes (for summer wear) *</p>
                    <p>Long Black cloak (silk is preferable to velvet, as it is much more absorbent) *</p>
                    <p>Black mask (informal)</p>
                    <p>Black mask (sequined)</p>
                    <p>Black boots (Stiletto heels are no longer permitted) *</p>
                    <p>Black leather gloves (barbed wire ornamentation optional) *</p>
                    <p>Wand</p>
                    <p>Extra wand in case of losing first wand</p>
                    <p>Plastic imitation wand in case of losing Extra wand</p>
                    <p>Cane (For favored members only. Unauthorized possession of a cane will result in a heavy fine. Before possessing cane, it is necessary to pass a rigorous series of tests to ascertain that your carrying-a-cane-in-a-nonchalant-yet-evil-fashion
                        skills are up to scratch).</p>
                    <p>Coffin</p>
                    <p>Dueling sword *</p>
                    <p>Disguise kit, containing: Nun’s outfit, false beard, beekeeping veil, Muggle policeman’s costume, etc. *</p>
                    <p>Saw</p>
                    <p>Assorted chains</p>
                    <p>Handcuffs</p>
                    <p>Pointy stick</p>
                    <h3>Recommended Reading:</h3>
                    <p>Curses and Counter-Curses by <strong>Professor Vindictus Viridian</strong></p>
                    <p>Evil: A Beginners Guide by <strong>Professor E. Maledict</strong></p>
                    <p>The Illustrated Torturer’s handbook by <strong>Bellatrix Black</strong></p>
                    <p>What Not to Wear in the Torture Chamber by <strong>Narcissa Malfoy</strong></p>
                    <p>Sex, Lies, and Unforgivable Curses: The Authorised Biography of Lord Voldemort by <strong>Peter
                            Pettigrew</strong></p>
                    <p>Caring For Your New Tattoo: An Informative Guide St. Mungo’s Hospital Skin Department</p>
                    <h3>Death Eater Rules:</h3>
                    <p>No Death Eater shall be a spy for Dumbledore.</p>
                    <p>No Death Eater shall play the harmonica.</p>
                    <p>All Death Eaters must be proficient in the Dark Arts: murder, Unforgivable Curses, yodeling etc. An annual examination will be made to make sure that all members are up to scratch.</p>
                    <p>No Death Eater shall behave with integrity unless it is a genuine accident.</p>
                    <p>A Death Eater must be pureblooded.</p>
                    <p>No Death Eater must ever mention that the Dark Lord himself is not pureblooded.</p>
                    <p>No Death Eater may kill another Death Eater without a very good reason.</p>
                    <p>All Death Eaters shall answer Lord Voldemort’s summons immediately. (Unless you are having a shower, in which case it is permitted to don a bath robe first.)</p>
                    <p>All Death Eaters shall have vaguely sinister surnames.</p>
                    <p>All Death Eaters shall overtake on the left.</p>
                    <p>Death Eaters may also own snake or dragon or hippogriff. But only Lord Voldemort may possess a basilisk.
                    </p>
                    <h3>Health and Safety:</h3>
                    <p>Being a Death Eater is naturally a dangerous job. Lord Voldemort accepts no liability for any pain/suffering/torture/impalement/loss of limbs/grievous bodily harm/disintegration/insanity/imprisonment/loss of soul/death which you may
                        experience while in his service. No good will come of any attempts to sue him as a negligent employer. Trust us.</p>
                    <p>However, in order to protect members, these safety guidelines have been developed for Death Eaters both during leisure time and on missions for the Dark Lord.</p>
                    <p>Don’t try to take out Harry Potter yourself. It is extremely presumptuous. Leave it to Lord Voldemort, who has much more practice.</p>
                    <p>Employ masterly deceit to conceal your allegiance to the Dark Lord: e.g., if someone accuses you of being a Death Eater, laugh carelessly and say: “No, I am not a Death Eater. Would you like a cup of tea?” This Machiavellian trickery
                        should be enough to convince them.</p>
                    <p>If this does not convince your accuser, have them discreetly murdered. (Sussex and Fox Ltd, of 13, Knockturn Alley, run a very efficient assassination service and are currently offering cut-price deals for friends and associates of
                        the Dark Lord. Present your membership card at the counter for further details.)</p>
                    <p>Keep your wand on you at all times, even if you are asleep/on a hot date/in the bath/on the beach/wearing very tight-fitting leather garments (or all of these at once).</p>
                    <p>Ostentatious indicators of evil, such as manic laughter/dressing entirely in black swooshy robes (Snape, this means you)/ making sinister comments/killing people should be practiced only in private.
                    </p>
                    <p>If you suspect someone of being a spy, kill them and their family at the first opportunity. If it turns out they were not a spy at all, pass it off as a light-hearted practical joke.</p>
                    <p>Only eat food prepared by yourself or your faithful minions. Do not trust your spouse(s)/partner(s), no matter how pretty he/she/they may be.</p>
                    <p>Similarly, do not accept drinks from anyone. This may cause offense when visiting a pub or bar but it’s better than being dead. Obviously.</p>
                    <p>Do not take off your mask for any reason while on a mission. If people see your face while you are conjuring the Dark Mark/ massacring etc, they may suspect that you are a Death Eater.</p>
                    <p>Do not try to smoke while wearing your mask, as it is not fireproof.</p>
                    <p>Never address your colleagues by name while on a mission. Survivors may recall it at a later date. For the same reason, never mention your address or telephone number to anyone you are kidnapping/raping/torturing/killing, no matter
                        how attractive they may be. Evil relationship experts have stated that romance is unlikely to flourish under such circumstances anyway.</p>
                    <p>Burn all sensitive documents. Not only will this deter spies, it is also amusing as it contributes to global warming.</p>
                    <p>Set up an anti-Apparating spell round your residence (but make sure you have a Portkey handy so you’re not embarrassingly trapped there if the place is attacked by Aurors).</p>
                    <p>Prepare a secret hideout for yourself should your cover be blown. Failure to do this may lead to your sharing a hideout with another Death Eating family, which often results in friction over use of bathroom facilities, television,
                        etc.
                    </p>
                    <p>Don’t upset Lord Voldemort. It will only end in tears. (And multiple burns, fractured limbs, mortal torment, etc.)</p>
                    <h3>Frequently Asked Questions:</h3>
                    <strong>What happens if Voldemort is displeased with me?</strong>
                    <p>As this is a fairly run (and currently short-staffed) organization, you will probably receive a warning. And some soul-destroying torture. A second offense and you will probably die a slow death. Options include:</p>
                    <ul>
                        <li>Being slowly eaten by a manticore.</li>
                        <li>Being dissolved in a vat of basilisk venom.</li>
                        <li>Gradual impalement on your own wand.</li>
                        <li>Death by Mandrake (according to season).</li>
                        <li>The Pancake curse. (This newly developed spell will carve you into wafer-thin slices. Victims killed in this way are traditionally cooked in hot fat and served with maple syrup or lemon juice at Death Eater feasts.)</li>
                        <li>Being flayed alive and used as a life-sized glove puppet at Death Eater children’s parties.
                        </li>
                        <li>Avada Kedavra (if we’re in a hurry/ feeling rather unimaginative).</li>
                    </ul>
                    <strong>What should I do if I decide to leave the organization?</strong>
                    <p>Make your funeral arrangements as quickly as possible. (See above)</p>
                    <strong>What is the salary like?</strong>
                    <p>You should be in this job for the principle of the thing, not for sordid reasons. So let’s just say that it’s much, much better than they pay at the Ministry. There will also be opportunities for pillage, looting, theft, etc., and
                        Christmas bonuses are guaranteed.</p>
                    <strong>Does the Dark Mark hurt?</strong>
                    <p>Of course it does; this is an evil society after all. What are you, a wimp?</p>
                    <strong>Can the Dark Mark be removed by laser treatment?</strong>
                    <p>No. Only a moron would ask such a stupid question. But it can be temporarily obscured by a good-quality concealer. (Make sure it’s a shade darker than your skin tone, as a lighter shade will simply draw attention to the tattoo. Pat
                        translucent powder over the concealer to make it last longer.)</p>
                    <strong>Is there a retirement age for Death Eaters?</strong>
                    <p>You probably won’t live long enough to have to deal with this problem.</p>
                    <strong>Can I kill personal enemies or just opponents of Voldemort?</strong>
                    <p>Murder is encouraged on principle; however, personal killings should be reserved for each individual Death Eater’s free time, as obviously serving Lord Voldemort is much more important. Occasional massacre outings/ dark revels may
                        take place as rewards for good (i.e. bad) behavior.</p>
                    <strong>What should I do if Voldemort is defeated at the height of his powers by a one-year-old
                        boy?</strong>
                    <p>This circumstance is so unlikely that there is no point devising a protocol to deal with it.</p>
                    <h3>The Death Eater Anthem</h3>
                    <p>(to be memorized by each new recruit as soon as possible). Please note that this tune should never, never, never, never be sung to the tune of “Blackadder,” an inane Muggle television program to which we are completely oblivious and
                        never watch. Honestly.</p>
                    <p>
                        Who lurk beneath the undergrowth?<br> When all is dim and dark?<br> Who murder people in their beds
                        <br> Or sometimes in the park?<br> Death Eaters! Death Eaters!<br> Our blood is pure as pure!
                        <br> Death Eaters! Death Eaters!<br> We all love Voldemort!<br> We serve the Dark Lord every day,
                        <br> We’re always very loyal<br> And if with us you don’t agree<br> We’ll boil you in hot oil!
                        <br> Death Eaters! Death Eaters!<br> We’re evil as can be!<br> Death Eaters! Death Eaters!
                        <br> But if we’re scared we’ll flee!<br> Our curses are incredible.<br> We’re known for our Morsmordres<br> And though our leader is insane<br> We always follow orders.<br> Death Eaters! Death Eaters!<br> We’re wickedness collective!
                        <br> Death Eaters! Death Eaters!<br> Yet rather ineffective!<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>