<div class="row p-5">
    <div class="col-12 col-lg-5 mx-lg-auto">
        <mdb-card>
            <mdb-card-header class="black white-text text-center py-4">
                <h1 class="h1 my-0">Register</h1>
            </mdb-card-header>
            <mdb-card-body class="px-lg-5 elegant-color white-text">
                <form class="text-center">
                    <div class="row">
                        <div class="col-12">
                            <div class="md-form">
                                <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control white-text" mdbInput>
                                <label class="white-text" for="firstName">First name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form">
                                <input type="email" [(ngModel)]="lastName" name="lastName" class="form-control white-text" mdbInput>
                                <label class="white-text" for="lastName">Last name</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form">
                                <input type="email" [(ngModel)]="email" name="email" class="form-control white-text" mdbInput>
                                <label class="white-text" for="email">E-mail</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form">
                                <input type="password" [(ngModel)]="password" name="password" class="form-control white-text" mdbInput>
                                <label class="white-text" for="password">Password</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form">
                                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control white-text" mdbInput>
                                <label class="white-text" for="confirmPassword">Confirm Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="md-form">
                        <button mdbBtn color="black" rounded="true" block="true" class="waves-effect z-depth-0" mdbWavesEffect (click)="register()">Register</button>
                    </div>
                </form>
                <p>By clicking <em>Register</em> you agree to our <a class="blue-text" data-toggle="modal" data-target="#terms-of-service-modal" (click)="frame.show()">terms of service</a></p>
                <hr>
                <p class="text-right">Already have an account? <a [routerLink]="['/login']" routerLinkActive="router-link-active">Click here to login</a></p>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>

<div mdbModal #frame="mdbModal" class="modal fade top overflow-auto" id="terms-of-service-modal" tabindex="-1" role="dialog" aria-labelledby="termsOfServiceModal" aria-hidden="true">
    <div class="modal-dialog black modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header black">
                <h1 class="h1 white-text">The Dark Lord's Terms</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body px-5 black-text">
                <div class="text-center">
                    <mdb-icon fas icon="info-circle" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
                </div>
                <div>
                    <p class="lead">No Death Eater shall be a spy for Dumbledore.</p>
                    <p class="lead">No Death Eater shall play the harmonica.</p>
                    <p class="lead">All Death Eaters must be proficient in the Dark Arts: murder, Unforgivable Curses, yodeling etc. An annual examination will be made to make sure that all members are up to scratch.</p>
                    <p class="lead">No Death Eater shall behave with integrity unless it is a genuine accident.</p>
                    <p class="lead">A Death Eater must be pureblooded.</p>
                    <p class="lead">No Death Eater must ever mention that the Dark Lord himself is not pureblooded.</p>
                    <p class="lead">No Death Eater may kill another Death Eater without a very good reason.</p>
                    <p class="lead">All Death Eaters shall answer Lord Voldemort’s summons immediately. (Unless you are having a shower, in which case it is permitted to don a bath robe first.)</p>
                    <p class="lead">All Death Eaters shall have vaguely sinister surnames.</p>
                    <p class="lead">All Death Eaters shall overtake on the left.</p>
                    <p class="lead">Death Eaters may also own snake or dragon or hippogriff. But only Lord Voldemort may possess a basilisk.</p>
                </div>
            </div>
        </div>
    </div>
</div>