<footer class="page-footer font-small grey darken-4 pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <blockquote class="blockquote ml-lg-4 pl-lg-3 red-text">
                    <p class="mb-0">How many will be brave enough to return when they feel it?<br>The Dark Mark on their arms burning black?<br>...and how many will be foolish enough to stay away?</p>
                    <footer class="blockquote-footer mb-3 text-white-50">Lord Voldemort <cite title="The Goblet of Fire">The Goblet of Fire</cite></footer>
                </blockquote>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3 white-text">
            <div class="col-md-3 mb-md-0 my-md-3">
                <ul class="list-unstyled">
                    <li><a [routerLink]="['/faq']" routerLinkActive="router-link-active">FAQ</a></li>
                    <li><a [routerLink]="['/death-eater-anthem']" routerLinkActive="router-link-active">Death Eater Anthem</a></li>
                    <li><a [routerLink]="['/how-to-be-a-death-eater']" routerLinkActive="router-link-active">How to be a Death Eater</a></li>
                    <li><a [routerLink]="['/terms-of-service']" routerLinkActive="router-link-active">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 my-md-3">
                <ul class="list-unstyled">
                    <li><a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a></li>
                    <li><a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright: <span class="white-text">Lord Voldemort and followers</span></div>
</footer>