<div class="row p-5">
    <div class="col-12 col-lg-8 mx-lg-auto mb-lg-4">
        <h1 class="h1">How to be a Death Eater</h1>
    </div>
    <div class="col-12 col-lg-7 mx-lg-auto">
        <p class="lead">Welcome to this helpful guide to being a Death Eater. This leaflet should provide you with all the information you need to become a successful servant to the Dark Lord. It will if you know what’s good for you</p>
        <h3 class="mt-4">Aims of the society</h3>
        <ul>
            <li>World peace *</li>
            <li>To be evil</li>
            <li>To conquer the world</li>
            <li>Elimination of all Muggles</li>
            <li>Elimination of all Mudbloods</li>
            <li>Elimination of Albus Dumbledore & the Order of the Phoenix</li>
            <li>Elimination of (miscellaneous)</li>
            <li>To serve Lord Voldemort (that’s me!)</li>
            <li>To create sanctuaries for endangered breeds of snakes</li>
            <li>* This statement is a lie.</li>
        </ul>
        <h3 class="mt-4">List of Equipment required for new Death Eaters</h3>
        <p>(Equipment marked * must be obtained from Messers. Gorgon & Black Limited, outfitters to the intensely evil and terminally stylish since 12 BC. Their premises are on Knockturn Alley, but they now do mail order as well.)</p>
        <p>Long Black Robes (Casual) *</p>
        <p>Long Black Robes (Smart) *</p>
        <p>Short Black Robes (for summer wear) *</p>
        <p>Long Black cloak (silk is preferable to velvet, as it is much more absorbent) *</p>
        <p>Black mask (informal)</p>
        <p>Black mask (sequined)</p>
        <p>Black boots (Stiletto heels are no longer permitted) *</p>
        <p>Black leather gloves (barbed wire ornamentation optional) *</p>
        <p>Wand</p>
        <p>Extra wand in case of losing first wand</p>
        <p>Plastic imitation wand in case of losing Extra wand</p>
        <p>Cane (For favored members only. Unauthorized possession of a cane will result in a heavy fine. Before possessing cane, it is necessary to pass a rigorous series of tests to ascertain that your carrying-a-cane-in-a-nonchalant-yet-evil-fashion skills
            are up to scratch).</p>
        <p>Coffin</p>
        <p>Dueling sword *</p>
        <p>Disguise kit, containing: Nun’s outfit, false beard, beekeeping veil, Muggle policeman’s costume, etc. *
        </p>
        <p>Saw</p>
        <p>Assorted chains</p>
        <p>Handcuffs</p>
        <p>Pointy stick</p>
        <h3 class="mt-4">Recommended Reading</h3>
        <p>Curses and Counter-Curses by <strong>Professor Vindictus Viridian</strong></p>
        <p>Evil: A Beginners Guide by <strong>Professor E. Maledict</strong></p>
        <p>The Illustrated Torturer’s handbook by <strong>Bellatrix Black</strong></p>
        <p>What Not to Wear in the Torture Chamber by <strong>Narcissa Malfoy</strong></p>
        <p>Sex, Lies, and Unforgivable Curses: The Authorised Biography of Lord Voldemort by <strong>Peter Pettigrew</strong></p>
        <p>Caring For Your New Tattoo: An Informative Guide St. Mungo’s Hospital Skin Department</p>
        <h3 class="mt-4">Health and Safety</h3>
        <p>Being a Death Eater is naturally a dangerous job. Lord Voldemort accepts no liability for any pain/suffering/torture/impalement/loss of limbs/grievous bodily harm/disintegration/insanity/imprisonment/loss of soul/death which you may experience
            while in his service. No good will come of any attempts to sue him as a negligent employer. Trust us.
        </p>
        <p>However, in order to protect members, these safety guidelines have been developed for Death Eaters both during leisure time and on missions for the Dark Lord.</p>
        <p>Don’t try to take out Harry Potter yourself. It is extremely presumptuous. Leave it to Lord Voldemort, who has much more practice.</p>
        <p>Employ masterly deceit to conceal your allegiance to the Dark Lord: e.g., if someone accuses you of being a Death Eater, laugh carelessly and say: “No, I am not a Death Eater. Would you like a cup of tea?” This Machiavellian trickery should be
            enough to convince them.</p>
        <p>If this does not convince your accuser, have them discreetly murdered. (Sussex and Fox Ltd, of 13, Knockturn Alley, run a very efficient assassination service and are currently offering cut-price deals for friends and associates of the Dark Lord.
            Present your membership card at the counter for further details.)</p>
        <p>Keep your wand on you at all times, even if you are asleep/on a hot date/in the bath/on the beach/wearing very tight-fitting leather garments (or all of these at once).</p>
        <p>Ostentatious indicators of evil, such as manic laughter/dressing entirely in black swooshy robes (Snape, this means you)/ making sinister comments/killing people should be practiced only in private.
        </p>
        <p>If you suspect someone of being a spy, kill them and their family at the first opportunity. If it turns out they were not a spy at all, pass it off as a light-hearted practical joke.</p>
        <p>Only eat food prepared by yourself or your faithful minions. Do not trust your spouse(s)/partner(s), no matter how pretty he/she/they may be.</p>
        <p>Similarly, do not accept drinks from anyone. This may cause offense when visiting a pub or bar but it’s better than being dead. Obviously.</p>
        <p>Do not take off your mask for any reason while on a mission. If people see your face while you are conjuring the Dark Mark/ massacring etc, they may suspect that you are a Death Eater.</p>
        <p>Do not try to smoke while wearing your mask, as it is not fireproof.</p>
        <p>Never address your colleagues by name while on a mission. Survivors may recall it at a later date. For the same reason, never mention your address or telephone number to anyone you are kidnapping/raping/torturing/killing, no matter how attractive
            they may be. Evil relationship experts have stated that romance is unlikely to flourish under such circumstances anyway.</p>
        <p>Burn all sensitive documents. Not only will this deter spies, it is also amusing as it contributes to global warming.</p>
        <p>Set up an anti-Apparating spell round your residence (but make sure you have a Portkey handy so you’re not embarrassingly trapped there if the place is attacked by Aurors).</p>
        <p>Prepare a secret hideout for yourself should your cover be blown. Failure to do this may lead to your sharing a hideout with another Death Eating family, which often results in friction over use of bathroom facilities, television, etc.
        </p>
        <p>Don’t upset Lord Voldemort. It will only end in tears. (And multiple burns, fractured limbs, mortal torment, etc.)</p>
    </div>
</div>