::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

::ng-deep.form-control {
    color: white !important;
}

::ng-deep.mdb-date-picker {
    color: white !important;
}

::ng-deep label {
    color: white !important;
}

::ng-deep mdb-select>div>div.single>div.value {
    color: white !important;
}