<div class="row p-5">
    <div class="col-12 col-lg-9 mx-lg-auto">
        <h1 class="h1">Create New Event</h1>
    </div>
    <div class="col-12 col-lg-7 mx-lg-auto">
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12">
                    <div class="md-form">
                        <input mdbInput type="text" name="title" [(ngModel)]="title" class="form-control white-text" required>
                        <label class="white-text" for="title">Event Title</label>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <mdb-select [options]="visibilitySelect" label="Visibility" name="visibility" [(ngModel)]="visibility" class="colorful-select dropdown-dark" required></mdb-select>
                </div>
                <div class="col-12 col-lg-6">
                    <mdb-select [options]="typeSelect" label="Type" name="type" [(ngModel)]="type" class="colorful-select dropdown-dark" required></mdb-select>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="md-form white-text">
                        <mdb-date-picker name="startDate" [options]="datePickerOptions" [placeholder]="'Start date'" [(ngModel)]="startDate" [label]="'Start date'" required></mdb-date-picker>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="md-form">
                        <mdb-time-picker [buttonLabel]="'Done'" [placeholder]="'Start time'" name="startTime" [(ngModel)]="startTime" [label]="'Start time'" required></mdb-time-picker>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="md-form">
                        <mdb-date-picker name="endDate" [options]="datePickerOptions" [placeholder]="'End date'" [(ngModel)]="endDate" [label]="'End date'" required></mdb-date-picker>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="md-form">
                        <mdb-time-picker [buttonLabel]="'Done'" [placeholder]="'End time'" name="endTime" [(ngModel)]="endTime" [label]="'End time'" required></mdb-time-picker>
                    </div>
                </div>
                <div class="col-12">
                    <div class="md-form">
                        <textarea type="text" name="description" [(ngModel)]="description" class="md-textarea form-control white-text" mdbInput required></textarea>
                        <label class="white-text" for="description">Description</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="md-form">
                        <input mdbInput type="text" name="location" [(ngModel)]="location" class="form-control" required>
                        <label class="white-text" for="location">Location</label>
                    </div>
                </div>
                <div class="col-12">
                    <label class="mb-0 ml-2" for="address">Address (google maps url)</label>
                    <div class="md-form input-group my-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon white-text" id="address-addon">https://www.google.com/maps/place/</span>
                        </div>
                        <input type="text" class="form-control" name="address" [(ngModel)]="address" aria-describedby="address-addon" placeholder="Everything after *place/*" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="md-form my-0">
                        <a mdbBtn href="https://maps.google.com" role="button" color="primary" class="white-text" target="_blank" mdbWavesEffect>Go to Google Maps</a>
                    </div>
                </div>
            </div>
            <div class="row pt-md-5 text-right">
                <div class="col-12">
                    <button type="submit" mdbBtn color="black" mdbWavesEffect>Create Event</button>
                </div>
            </div>
        </form>
    </div>
</div>