<div class="row p-5">
    <div class="col-12 col-lg-8 mx-lg-auto mb-lg-4">
        <h1 class="h1">Frequently Asked Questions</h1>
    </div>
    <div class="col-12 col-lg-7 mx-lg-auto">
        <p class="lead mb-0"><strong>What happens if Voldemort is displeased with me?</strong></p>
        <p>As this is a fairly run (and currently short-staffed) organization, you will probably receive a warning. And some soul-destroying torture. A second offense and you will probably die a slow death. Options include:
        </p>
        <ul>
            <li>Being slowly eaten by a manticore.</li>
            <li>Being dissolved in a vat of basilisk venom.</li>
            <li>Gradual impalement on your own wand.</li>
            <li>Death by Mandrake (according to season).</li>
            <li>The Pancake curse. (This newly developed spell will carve you into wafer-thin slices. Victims killed in this way are traditionally cooked in hot fat and served with maple syrup or lemon juice at Death Eater feasts.)
            </li>
            <li>Being flayed alive and used as a life-sized glove puppet at Death Eater children’s parties.
            </li>
            <li>Avada Kedavra (if we’re in a hurry/feeling rather unimaginative).</li>
        </ul>
        <p class="lead mb-0"><strong>What should I do if I decide to leave the organization?</strong></p>
        <p>Make your funeral arrangements as quickly as possible. (See above)</p>
        <p class="lead mb-0"><strong>What is the salary like?</strong></p>
        <p>You should be in this job for the principle of the thing, not for sordid reasons. So let’s just say that it’s much, much better than they pay at the Ministry. There will also be opportunities for pillage, looting, theft, etc., and Christmas bonuses
            are guaranteed.</p>
        <p class="lead mb-0"><strong>Does the Dark Mark hurt?</strong></p>
        <p>Of course it does; this is an evil society after all. What are you, a wimp?</p>
        <p class="lead mb-0"><strong>Can the Dark Mark be removed by laser treatment?</strong></p>
        <p>No. Only a moron would ask such a stupid question. But it can be temporarily obscured by a good-quality concealer. (Make sure it’s a shade darker than your skin tone, as a lighter shade will simply draw attention to the tattoo. Pat translucent
            powder over the concealer to make it last longer.)</p>
        <p class="lead mb-0"><strong>Is there a retirement age for Death Eaters?</strong></p>
        <p>You probably won’t live long enough to have to deal with this problem.</p>
        <p class="lead mb-0"><strong>Can I kill personal enemies or just opponents of Voldemort?</strong></p>
        <p>Murder is encouraged on principle; however, personal killings should be reserved for each individual Death Eater’s free time, as obviously serving Lord Voldemort is much more important. Occasional massacre outings/dark revels may take place as
            rewards for good (i.e. bad) behavior.</p>
        <p class="lead mb-0"><strong>What should I do if Voldemort is defeated at the height of his powers by a one-year-old boy?</strong></p>
        <p>This circumstance is so unlikely that there is no point devising a protocol to deal with it.</p>
    </div>
</div>