<div class="row p-5">
    <div class="col-12 col-lg-4 ml-lg-auto">
        <a type="button" mdbBtn color="primary" [routerLink]="['/create-event']" routerLinkActive="router-link-active" mdbWavesEffect>Create Event</a>
    </div>
    <div class="col-12 col-lg-9 mx-lg-auto">
        <h1 class="h1">My Events (Created)</h1>
    </div>
    <div class="col-12 col-lg-7 mx-lg-auto">
        <div class="list-group list-group-flush" *ngIf="createdEvents; else empty">
            <div *ngFor="let createdEvent of createdEvents" class="list-group-item flex-column align-items-start rgba-black-strong white-text">
                <div class="d-flex w-100 justify-content-between">
                    <a class="h5 mb-1 white-text" [routerLink]="['/edit-event', createdEvent.event_id]" routerLinkActive="router-link-active">{{ createdEvent.title }}</a>
                    <small>Created {{ createdEvent.created | date: 'medium' }}</small>
                </div>
                <p class="mb-1 lead">{{ createdEvent.description }}</p>
                <p mdbTooltip="{{ createdEvent.startTime | date: 'H:mm z' }} - {{ createdEvent.endTime | date: 'H:mm z' }}" placement="top" class="d-inline-block">Event dates: {{ createdEvent.startTime | date: 'E, LLL d, yy' }} - {{ createdEvent.endTime | date: 'E, LLL d, yy' }}</p>
                <a class="red-text d-block" href="https://www.google.com/maps/place/{{ createdEvent.address }}" target="_blank">{{ createdEvent.location }}</a>
            </div>
        </div>
        <ng-template #empty>
            <p class="h2">Lord Voldemort does not tolerate anti-social behavior</p>
        </ng-template>
    </div>
    <div class="col-12 col-lg-9 mx-lg-auto mt-lg-5">
        <h1 class="h1">My Events (Attending)</h1>
    </div>
    <div class="col-12 col-lg-7 mx-lg-auto">
        <div class="list-group" *ngIf="otherEvents; else empty">
            <div *ngFor="let otherEvent of otherEvents" class="list-group-item flex-column align-items-start rgba-black-strong white-text">
                <div class="d-flex w-100 justify-content-between">
                    <a class="h5 mb-1 white-text" [routerLink]="['/event', otherEvent.event_id]" routerLinkActive="router-link-active">{{ otherEvent.title }}</a>
                    <small>other {{ otherEvent.created | date: 'medium' }}</small>
                </div>
                <p class="mb-1 lead">{{ otherEvent.description }}</p>
                <p mdbTooltip="{{ otherEvent.startTime | date: 'H:mm z' }} - {{ otherEvent.endTime | date: 'H:mm z' }}" placement="top" class="d-inline-block">Event dates: {{ otherEvent.startTime | date: 'E, LLL d, yy' }} - {{ otherEvent.endTime | date: 'E, LLL d, yy' }}</p>
                <a class="red-text d-block" href="https://www.google.com/maps/place/{{ otherEvent.address }}" target="_blank">{{ otherEvent.location }}</a>
            </div>
        </div>
    </div>
</div>