<div class="row p-5">
    <div class="col-12 col-lg-8 mx-lg-auto mb-lg-4">
        <h1 class="h1">The Dark Lord's Terms</h1>
    </div>
    <div class="col-12 col-lg-7 mx-lg-auto">
        <p class="lead">No Death Eater shall be a spy for Dumbledore.</p>
        <p class="lead">No Death Eater shall play the harmonica.</p>
        <p class="lead">All Death Eaters must be proficient in the Dark Arts: murder, Unforgivable Curses, yodeling etc. An annual examination will be made to make sure that all members are up to scratch.</p>
        <p class="lead">No Death Eater shall behave with integrity unless it is a genuine accident.</p>
        <p class="lead">A Death Eater must be pureblooded.</p>
        <p class="lead">No Death Eater must ever mention that the Dark Lord himself is not pureblooded.</p>
        <p class="lead">No Death Eater may kill another Death Eater without a very good reason.</p>
        <p class="lead">All Death Eaters shall answer Lord Voldemort’s summons immediately. (Unless you are having a shower, in which case it is permitted to don a bath robe first.)</p>
        <p class="lead">All Death Eaters shall have vaguely sinister surnames.</p>
        <p class="lead">All Death Eaters shall overtake on the left.</p>
        <p class="lead">Death Eaters may also own snake or dragon or hippogriff. But only Lord Voldemort may possess a basilisk.</p>
    </div>
</div>